body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Space Mono", monospace;
    width: 100%;}

.blurredcontainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);}

h1 {
    font-size: 4em;
    color: #363636;
    text-align: center;
}

.subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #363636;
    text-align: center;
}


.equation {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.result {
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    color: #363636;
}

#result {
    font-weight: bold;
    color: #000000;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    gap: 10px;
    color: #363636;
    font-size: 0.8em;
}

label {
    font-weight: bold; 
  }

input {
    font-family: "Space Mono", monospace;
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-width: 150px;
    }

button {
    font-family: "Space Mono", monospace;
    grid-column: span 2;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.4em;
    background: linear-gradient(78deg, rgba(18,17,15,1) 33%, rgba(247,191,32,1) 100%); 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: #636363;
}

canvas {
    padding: 10px;
}

.scientific-explanation {
    color: #363636;
    
}
.links-container {
    text-align: left;
    margin-bottom: 20px;
}

.links {
    color: rgba(247,191,32,1);
    justify-content: left;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.links:visited {
    color: #363636;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

footer a {
    color: #f7bf20; /* Usando el color amarillo del botón */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}