body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Space Mono", monospace;
    
}

.container {
    max-width: 1000px;
}

.blurredcontainer {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 4em;
    margin: 20px 0;
    padding: 0;
    color: #363636;
    text-align: center;
}

.subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #363636;
    text-align: center;
}
p {
    margin-bottom: 20px;
    color: #363636;
}
.equation {
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
}

.result {
    font-size: 1.2em;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    color: #363636;
}

form {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    color: #363636;
    font-size: 0.8em;
}

label {
    font-weight: bold;
 
  }

input {
    font-family: "Space Mono", monospace;
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-width: 250px;
    }

button {
    font-family: "Space Mono", monospace;
    grid-column: span 2;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.4em;
    background: linear-gradient(78deg, rgba(18,17,15,1) 33%, rgba(247,191,32,1) 100%); 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: #636363;
}

#result {
    font-weight: bold;
    color: #000000;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.scientific-explanation {
    max-width: 90%;
}

#drakeChart {
    max-width: 80%;
}

a {
    color: rgba(247,191,32,1);
}

a:visited {
    color: #363636;
}